# Python bytecode

**pycache**/
*.py[cod]
*$py.class

# Python cache / temp

*.pyo
*.pyd

# macOS system files

.DS_Store

# Environment files

.env
.venv
venv/
env/

# IDE / Editor

.vscode/
.idea/

# Logs

# *.log

# Docker

docker-compose.override.yml

# Python test cache

.pytest_cache/

# Coverage files

.coverage
htmlcov/
